{% extends "header.html" %}

{% block title %}Home{% endblock %}
{% block content %}

<div class="container"> 
    <div class=" text-center ">
        <h4>Quick and easy online meeting  </h4>
        <h4>scheduler and meeting organiser</h4>
       </div>
       <div class="dropdown-divider"></div>  
<div class="row"> 
   <div class="col">
    <img class="img-fluid" src="{{ url_for('static', filename='img/cal.jpg') }}" height=340 width=340>
    </div>
    <div class="col">
        <h4 class=" mt-5 text-center">Up2Date helps you </h4> 
        <h4 class="text-center">schedule meetings and events</h4>
        <h4 class="text-center">without any hassle</h4>
    </div>
  </div> 
  <div class="dropdown-divider"></div> 
    <h4 class="text-center">What Can You Do With Up2Date?</h4>
    <div class="row">
      <div class="col">
       <img src="{{ url_for('static', filename='img/login.jpg') }}" class="img-thumbnail">
       </div>
       <div class="col">
          <img src="{{ url_for('static', filename='img/Meeting.jpg') }}" class="img-thumbnail">
          </div>
          <div class="col">
              <img src="{{ url_for('static', filename='img/events.jpg') }}" class="img-thumbnail">
              </div>
            </div>
            </div>   
<div class="footer bg-dark m-3 p-2">
       <h6 class='text-light text-right'>© Copyright 2019 Up2Date</h6>
</div>
{% endblock %}
   
        
      
 